:root {
  --modular-scale: 1.5;
  --red: #ff7473;
  --blue: #47b8e0;
}

@media screen and (min-width: 900px) {
  :root {
    --modular-scale: 1.667;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --modular-scale: 1.875;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin: 0 auto;
  color: #34314c;
  font-size: 16px;
}

/* Typography */

h1 {
  font-family: "Jakeshandwriting";
  font-size: calc(var(--modular-scale) * var(--modular-scale) * var(--modular-scale) * var(--modular-scale) * 1em);
  letter-spacing: -4px;
  color: var(--blue);
}

.jake {
  letter-spacing: -13px;
}

h2 {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Lato', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  justify-content: left;
  font-size: calc(var(--modular-scale) * var(--modular-scale) * 1em);
  max-width: 700px;
  line-height: 120%;
}

h3 {
  /* font-family: 'Roboto', sans-serif; */
   font-family: 'Lato', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  font-size: calc(var(--modular-scale) * 1em);
  line-height: 145%;
  color: var(--blue);
}

h4 {
    /* font-family: 'Roboto', sans-serif; */
  font-family: 'Lato', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

h4, p, li {
  font-size: 1em;
  line-height: 145%;
}

.link, .link:visited {
  color: var(--red);
}

/* Header */

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  max-height: 600px;
}

.email {
  display: flex;
  align-items: center;
}

.arrow {
  font-family: "Jakeshandwriting";
  color: #ffc952;
}

.email_address {
  color: #34314c;
  text-decoration: underline;
  text-decoration-color: #ff7473;
}

.project img {
  max-width: 350px;
}

/* Background */

.background {
  max-width: 800px;
}

.background_text {
  margin-top: 20px;
}

/* Skills */
.skills {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

/* Projects */
#projects {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
}

.project__name {
  font-weight: bold;
}

.project__description {
  margin-left: 20px;
}