body {
  font-family: "Helvetica", sans-serif;
  width: 80%;
  margin: 0 auto;
  color: #444452;
  font-size: 18px;
}

.jumbotron {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  max-height: 600px;
}

.intro_title {
  font-family: "MyHandwriting-Regular";
  font-size: 8em;
  letter-spacing: -4px;
  color: #ff7473;
}

.jake {
  letter-spacing: -13px;
}

.intro_text {
  justify-content: left;
  font-size: 2.5em;
  width: 700px;
  line-height: 1.3em;
}

.email {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.email_address {
  color: #444452;
  text-decoration: underline;
  text-decoration-color: #00b9f1;
}

.project img {
  max-width: 50px;
}